.green-clr {
  color: var(--card-bg-color);
  text-decoration: ite;
}

#showcase {
  padding: 4rem 2rem;
}

.showcase-heading {
  font-size: 5.5rem;
  color: rgb(255, 255, 255);
  line-height: 8.67rem;
}

.descriptions-container {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}
.description-container {
  width: 30%;
}
.location-container {
  width: 30%;
}
.description {
  color: rgb(255, 255, 255);
  line-height: 1.6rem;
}
.location {
  color: rgb(255, 255, 255);
}

.available-date {
    width: max-content;
    font-size: .7rem;
    color: rgb(255, 255, 255);
    margin-top: 1rem;
    margin-left: auto;
    padding: .5rem .6rem;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 2rem;
}
.available-date span {
    font-weight: 500;
}
.green-circle {
    background-color: var(--card-bg-color);
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 5px;
    margin-left: 5px;
}

.view-pricing-plan-btn {
  color: var(--card-btn-color);
  background-color: var(--card-bg-color);
  border: none;
  border-radius: 100px;
  padding: 12px;
  margin-top: 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.4s;
}
@media (min-width: 1000px) {
  .view-pricing-plan-btn:hover {
    transform: translateY(-10px);
  }
  .view-pricing-plan-btn:hover .arrow-right {
    transform: rotate(-30deg);
  }
}


@media (max-width:850px){
  .descriptions-container {
    justify-content: space-between;
    flex-direction: column;
  }

  .showcase-heading {
    font-size: 4rem;
    line-height: 5rem;
  }
  
  .description-container {
    width: 75%;
  }
  .location-container {
    margin-top: 2rem;
    margin-left: auto;
    width: 75%;
  }
}

@media (max-width:415px){
  .description-container {
    width: 100%;
  }
  .location-container {
    margin-top: 2rem;
    margin-left: auto;
    width: 100%;
  }
}