@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: area-normal, 'Rubik',sans-serif;
}

:root {
  --bg-color: #054638;
  --card-bg-color: #55ec9a;
  --card-btn-color: #073f34;

  --bar-height: 3px;
  --bar-width: 30px;
  --bar-gap: 3px;
}

body {
  background-color: var(--bg-color);
}
